/*base*/

/*header*/

/*END:header*/

/*footer*/

/*END:footer*/

html,
body {
    font-size: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 3.2em;
    background: url('https://cdn-images-1.medium.com/max/1600/1*aT0YAgCTsQgGAO6K0TK0DA.jpeg');
    -moz-background-size: cover;
    background-size: cover;
}

.wrapper--inner {
    background: url('https://i.imgur.com/Z2lWU8K.jpg');
    -moz-background-size: cover;
    background-size: cover;
}

.wrapper__sub {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('http://alanpride.com/admin/images/BG_Radial_gradient.png');
    background-position: center center;
    -moz-background-size: cover;
    background-size: cover;
}

.clearfix:after,
.myContainer:after {
    display: block;
    clear: both;
    content: '';
}

.content-container {
    position: absolute;
    z-index: 9;
    top: 11em;
    left: 50%;
    width: 69em;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media screen and (min-width: 3840px) {
    .content-container {
        width: 176em;
    }
}

@media screen and (max-width: 1366px) {
    .content-container {
        top: 3em;
        width: 53.2em;
    }
}

@media screen and (max-width: 1110px) {
    .content-container {
        width: 46em;
    }
}

.myContainer {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    font-family: 'Roboto-Bold';
    font-size: 1em;
    display: inline-block;
    padding: .8em 4em;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    color: #c0c0c0;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    -webkit-box-shadow: inset 0 0 0 2px #c0c0c0;
    -moz-box-shadow: inset 0 0 0 2px #c0c0c0;
    box-shadow: inset 0 0 0 2px #c0c0c0;
}

.btn:hover {
    color: #000;
    background: #ffde39;
    -webkit-box-shadow: 0 3px 9px #000;
    -moz-box-shadow: 0 3px 9px #000;
    box-shadow: 0 3px 9px #000;
}

.btn:hover .money-icon {
    background: url('../img/ruble-currency-sign-black.png');
    -moz-background-size: contain;
    background-size: contain;
}

@media screen and (min-width: 3840px) {
    .btn:hover .money-icon {
        width: 30px;
        height: 30px;
        background: url('../img/ruble-currency-sign-big-black.png');
    }
}

@media screen and (min-width: 2048px) {
    .btn:hover .money-icon {
        width: 15px;
        height: 15px;
    }
}

.btn:focus {
    color: #000;
    outline: none;
    background: #ffde39;
    -webkit-box-shadow: 0 3px 9px #000;
    -moz-box-shadow: 0 3px 9px #000;
    box-shadow: 0 3px 9px #000;
}

.btn:focus .money-icon {
    background: url('../img/ruble-currency-sign-black.png');
    -moz-background-size: contain;
    background-size: contain;
}

@media screen and (min-width: 2048px) {
    .btn:focus .money-icon {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 3840px) {
    .btn:focus .money-icon {
        width: 30px;
        height: 30px;
        background: url('../img/ruble-currency-sign-big-black.png');
    }
}

.btn.active {
    color: #000;
    background: #ffde39;
    -webkit-box-shadow: 0 3px 9px #000;
    -moz-box-shadow: 0 3px 9px #000;
    box-shadow: 0 3px 9px #000;
}

.btn.active .money-icon {
    background: url('../img/ruble-currency-sign-black.png');
}

@media screen and (min-width: 2048px) {
    .btn.active .money-icon {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 3840px) {
    .btn.active .money-icon {
        width: 30px;
        height: 30px;
        background: url('../img/ruble-currency-sign-big-black.png');
    }
}

.btn.disabled {
    display: none;
}

.btn .money-icon {
    display: block;
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
    background: url('../img/ruble-currency-sign.png');
    -moz-background-size: contain;
    background-size: contain;
}

@media screen and (min-width: 2048px) {
    .btn .money-icon {
        width: 15px;
        height: 15px;
    }
}

@media screen and (min-width: 3840px) {
    .btn .money-icon {
        width: 30px;
        height: 30px;
        background: url('../img/ruble-currency-sign-big-light.png');
    }
}

@media screen and (max-width: 1366px) {
    .btn .money-icon {
        width: 11px;
        height: 11px;
    }
}

/*END:base*/
/*# sourceMappingURL=sourcemaps/base.css.map */
